_*.bat
Upload.bat
*.exe
*.obj
*.hpp
!Bin/CldrToCode.exe

dunit.ini
Get.bat
StyleSheet.css

CreateSamples/
CreateSimpleDb/
DataView/
HowTo/
ImageView/

Library/Delphi/*.obj
Library/Automation/
Library/Data/
Library/JavaScript/
Library/Other/
Library/Test/
Library/Delphi/FmxDoc/
Library/Delphi/VclDoc/
Library/Java/
Library/NET/TestResults/
Library/TypeScript/
Library/TypeScript/node_modules/

Samples/Access/
Samples/Android/
Samples/Angular/
Samples/Binary/
Samples/Binary file/
Samples/BSON/
Samples/DITA/
Samples/DotNet/
Samples/Excel/
Samples/FireBird/
Samples/Glossary/
Samples/HTML/
Samples/HtmlHelp/
Samples/i18next/
Samples/Ini/
Samples/Interbase/
Samples/iOS/
Samples/JSON/
Samples/JSP/
Samples/Java/
Samples/JavaScript/
Samples/Make/
Samples/Markdown/
Samples/MySQL/
Samples/Nexus/
Samples/Old/
Samples/PDF/
Samples/PHP/
Samples/PO/
Samples/PostgreSQL/
Samples/PowerPoint/
Samples/Python/
Samples/Qt/
Samples/Rails/
Samples/React/
Samples/SQLCE/
Samples/SQLServer/
Samples/SQLite/
Samples/SRT/
Samples/SVG/
Samples/Script/
Samples/Silverlight/
Samples/SimpleDB/
Samples/TMX/
Samples/Text/
Samples/TypeScript/
Samples/TranslationMemory/
Samples/Tutorial/
Samples/UWP/
Samples/VisualCpp/
Samples/VisualStudio/
Samples/Vue/
Samples/WebVTT/
Samples/WindowsPhone/
Samples/WindowsStoreApps/
Samples/Wix/
Samples/Word/
Samples/Xamarin/
Samples/XML/
Samples/XLIFF/
Samples/YAML/

Samples/BuildDataView.bat

**/Output/
**/fi/*
**/internal/*.ntres

**/__history/
**/__recovery/
**/Debug/
**/Release/
deployedassets.txt
Samples/Delphi/**/Android*.xml
Samples/Delphi/**/Ent*.xml
Samples/Delphi/**/*Template*.xml
vcl250.*

**/bin/
**/obj/
**/packages/
**/.vs/
**/.vscode/
Samples/WindowsForms/**/*.xml
!Samples/WindowsForms/ResxData/Resources/Sports.xml
!Samples/WindowsForms/ResxData/Resources/Numbers.xml
!Samples/WindowsForms/Links/Resources/Sport.xml
*.??.resx
*.??-????.resx
!Samples/WindowsForms/VisualStudioCompile/Form1.fi.resx
!Samples/WindowsForms/VisualStudioCompile/Properties/Resources.fi.resx
*.??.xaml
*.??-????.xaml

*.proj
*.suo
*.tmx
*.deployproj
*.tvsconfig
*.GhostDoc.xml
*_Report.txt
*.ntpx
*.skincfg
*.sds
*.slp
*.ntr
*.user
*.nupkg
*.nuspec
*.log
*.tmp
*.nds
*.apk
*.o
*.so
*.dex
*.docx
*.local
*.identcache
*.chw
*.stat
*.dsk
*.dcu
*.~*

*.zip
!Single.zip
!Multi.zip

*.chm
!Library/Delphi/Vcl.chm
!Library/Delphi/Fmx.chm
!Library/NET/NET.chm
