_*.bat
*.exe
*.dll
*.obj
*.slp
koe*.bat
Upload.bat
!Bin/CldrToCode.exe

Library/Delphi/**/*.hpp

dunit.ini
Get.bat
StyleSheet.css

CreateSamples/
CreateSimpleDb/
DataView/
HowTo/
ImageView/

Library/Automation/
Library/Data/
Library/JavaScript/
Library/Other/
Library/Test/
Library/Delphi/FmxDoc/
Library/Delphi/VclDoc/
Library/Java/
Library/NET/TestResults/
Library/TypeScript/
Library/TypeScript/node_modules/

Samples/Android/
Samples/Binary/
Samples/Binary file/
Samples/BSON/
Samples/DITA/
Samples/DotNet/
Samples/Glossary/
Samples/iOS/
Samples/JSP/
Samples/JavaScript/
Samples/Make/
Samples/Markdown/
Samples/Nexus/
Samples/Old/
Samples/PDF/
Samples/Python/
Samples/Rails/
Samples/Script/
Samples/Silverlight/
Samples/SimpleDB/
Samples/TypeScript/
Samples/TranslationMemory/
Samples/Tutorial/
Samples/VisualCpp/
Samples/VisualStudio/
Samples/WindowsPhone/
Samples/Xamarin/

Samples/BuildDataView.bat

**/node_modules/

**/Output/
**/fi/*
**/fr/*
**/de/*
**/ja/*
**/internal/*.ntres

**/.metadata/
**/.recommenders/

**/__history/
**/__recovery/
**/Debug/
**/Release/
deployedassets.txt
Samples/Delphi/**/Android*.xml
Samples/Delphi/**/Ent*.xml
Samples/Delphi/**/*Template*.xml
vcl250.*

**/bin/
**/obj/
**/packages/
**/.vs/
**/.vscode/
Samples/WindowsForms/**/*.xml
!Samples/WindowsForms/ResxData/Resources/Sports.xml
!Samples/WindowsForms/ResxData/Resources/Numbers.xml
!Samples/WindowsForms/Links/Resources/Sport.xml
*.??.resx
*.??-????.resx
!Samples/WindowsForms/VisualStudioCompile/Form1.fi.resx
!Samples/WindowsForms/VisualStudioCompile/Properties/Resources.fi.resx
*.??.xaml
*.??-????.xaml

*.proj
*.suo
*.tmx
*.deployproj
*.tvsconfig
*.GhostDoc.xml
*_Report.txt
*.ntpx
*.skincfg
*.sds
*.slp
*.ntr
*.user
*.nupkg
*.nuspec
*.log
*.tmp
*.nds
*.apk
*.o
*.so
*.dex
*.docx
*.local
*.identcache
*.chw
*.stat
*.dsk
*.dcu
*.~*

*.zip
!Single.zip
!Multi.zip

*.chm
!Library/Delphi/Vcl.chm
!Library/Delphi/Fmx.chm
!Library/NET/NET.chm
