@page "/"

@inject IStringLocalizer<Index> localizer

<h1>@localizer["Hello World!"]</h1>

<p>@localizer["Welcome to your new app."]</p>

<MyComponent />

<MultiServerLibrary.Component />
<MultiServerLibrary.ComponentTwo />

