@model RazorSport.Pages.SportModel

@if (Model.Message != null)
{
  <div class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    @Model.Message
  </div>
}
