@page "{id:int}"
@model DeleteModel
@{
  ViewData["Title"] = @Localizer["Delete Sport"];
}

<h1>@ViewData["Title"]</h1>

<form method="post">
  <div class="form-border">
    <input type="hidden" asp-for="Value.Id" />
    <fieldset disabled>
      <div class="form-group row">
        <div class="col-sm-2">
          <label asp-for="Value.Languages[0].Name" class="custom-label"></label>
        </div>
        <div class="col-sm-4">
          <input asp-for="Value.Languages[0].Name" class="form-control" />
        </div>
      </div>
    </fieldset>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-danger btn-space"><span class="fas fa-trash"></span>&nbsp; @Localizer["Delete"]</button>
      <a asp-page="Index" class="btn btn-sm btn-success btn-space"><span class="fas fa-list-ul"></span>&nbsp; @Localizer["Back to List"]</a>
    </div>
  </div>
</form>
