@{
  Layout = null;
}

<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Esimerkkiohjalma</title>
</head>

<body>
  <h1>Esimerkkiohjalma</h1>
  <p>Tämä on esimerkkiohjelma.</p>
</body>
</html>
