@{
  Layout = null;
}

<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Sample Application</title>
</head>

<body>
  <h1>Sample Application</h1>
  <p>This is a sample application.</p>
</body>
</html>
