<div class="card">
  <div class="card-header">
    Welcome to Sport application
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/SolulingLogo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:10px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Soluling team</h3>
      </div>

      <div class="text-center">info@soluling.com</div>
      <div class="text-center">
        <a href="http://www.soluling.com">www.soluling.com</a>
      </div>
    </div>
  </div>
</div>
