@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> localizer

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://soluling.com" target="_blank" class="ml-md-auto">@localizer["About"]</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
