@page
@model SetDefaultModel
@{
  ViewData["Title"] = @Localizer["Default Sports"];
}

<h1>@ViewData["Title"]</h1>

<form method="post">
  <div class="form-border">
    <fieldset disabled>
      <div class="form-group row">
        <p>This will erase the current content of the sport database and replace it with the default values.</p>
      </div>
    </fieldset>
    <br />
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-danger btn-space"><span class="fas fa-trash"></span>&nbsp; @Localizer["Set default"]</button>
      <a asp-page="Index" class="btn btn-sm btn-success btn-space"><span class="fas fa-list-ul"></span>&nbsp; @Localizer["Back to List"]</a>
    </div>
  </div>
</form>
