<form [formGroup]="form" (ngSubmit)="onSubmit()">  
  <h1 mat-dialog-title i18n="header|">Sport</h1>
  <p class="mat-body-1" i18n="bodyText|">Enter properties of a sport.</p>

  <div class="example-container">
    <mat-form-field>
      <input matInput i18n-placeholder="namePlaceholder|" placeholder="Name" [value]="sport.languages[0].name" formControlName="name">
      <div *ngIf="isFieldValid('name')" class="ui error message" i18n="nameValidation|">Name is required</div>
    </mat-form-field>

    <mat-form-field>
      <mat-select i18n-placeholder="olympicPlaceholder|" placeholder="Olympic Games" formControlName="olympic">
        <mat-option value="No" i18n="olympicNo|">No</mat-option>
        <mat-option value="Winter" i18n="olympicWinter|">Winter</mat-option>
        <mat-option value="Summer" i18n="olympicSummer|">Summer</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group [value]="sport.kind" formControlName="kind">
      <mat-radio-button #individual value="Individual" i18n="individualRadio|">Individual sport</mat-radio-button>
      <mat-radio-button value="Team" i18n="teamRadio|">Team sport</mat-radio-button>
    </mat-radio-group>
    
    <br/>

    <mat-form-field [hidden]="individual.checked">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td><input matInput placeholder="Amount of fieldplayers" type="number" [value]="sport.fieldPlayers" formControlName="fieldPlayers"></td>
          <td><mat-checkbox i18n="goalieCheck|" [value]="sport.goalie" formControlName="goalie">Has goalkeeper</mat-checkbox></td>
        </tr>
      </table>
    </mat-form-field>

    <mat-form-field>
      <input matInput i18n-placeholder="originPlaceholder|"placeholder="Origin" [value]="sport.languages[0].origin" formControlName="origin">
      <div *ngIf="isFieldValid('origin')" class="ui error message" i18n="originValidation|">Origin is required</div>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput i18n-placeholder="descriptionPlaceholder|" placeholder="Description" [value]="sport.languages[0].description" formControlName="description"></textarea>
      <div *ngIf="isFieldValid('description')" class="ui error message" i18n="descriptionValidation|">Description is required</div>
    </mat-form-field>
  </div>

  <mat-dialog-actions align="end">
    <!-- <button mat-button type="submit" [disabled]="!form.valid" i18n="okButton|">OK</button> -->
    <button mat-button type="submit" i18n="okButton|">OK</button>
    <button mat-button type="button" (click)="onCancelClick()" i18n="cancelButton|">Cancel</button>
  </mat-dialog-actions>  
</form>